/* General styles for the forget password section */
.forgetPasswordSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #e3f2fd, #bbdefb);
  padding: 1rem; /* Add some padding to the section */
}


.inputWrapper {
  margin-bottom: 1rem;
}

.inputField {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.errorText {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.submitButton {
  width: 100%;
  padding: 0.75rem;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.submitButton:hover {
  background: #2563eb;
}

.additionalLinks {
  margin-top: 1rem;
}

/* Responsive styles */
@media (max-width: 600px) {
  .formContainer {
    padding: 1.5rem; /* Adjust padding for smaller screens */
  }

  .inputField {
    font-size: 0.9rem; /* Slightly smaller font size */
  }

  .submitButton {
    font-size: 0.9rem; /* Slightly smaller font size */
  }
}
